<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="vendor/angular.min.js"></script>
  <script>
    angular.module('my-app', ['feature-flags']);
  </script>
  <script src="scripts/directives.js"></script>
  <script src="scripts/featureFlags.min.js"></script>
</head>

<body ng-controller="MainCtrl" ng-class="{ toggle: showFlags }">

  <!-- rob start http://plnkr.co/edit/tVbq24?preview -->
  <div ng-if="initialLoad">
    <p>Configuration is loading...</p>
  </div>
  
  <!-- rob end -->

  <div class="toggles" ng-click="showFlags=!showFlags"></div>
  <div class="main" ng-click="showFlags=false">
    <h1>Rob's App</h1>
    <div flag-a feature-flag="flagA"></div>
    <div messaging feature-flag="messages"></div>
    <div flag-b feature-flag="flagB"></div>
    <div settings feature-flag="settings"></div>
  </div>
  
  <div ng-cloak>
    <p>Hello {{name}}!</p>
  </div>
  <div class="flagContainer" feature-flag-overrides></div>
</body>

</html>
