<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="vendor/angular.min.js"></script>

  <script src="scripts/featureFlags.min.js"></script>
  <script src="scripts/directives.js"></script>
  
  <script>
    angular.module('my-app', ["feature-flags"]);
  </script>
</head>

<body ng-controller="MainCtrl" ng-class="{ toggle: showFlags }"> <!-- ng - app="my-app"-->

  <!-- rob start http://plnkr.co/edit/tVbq24?preview -->
  <div ng-if="initialLoad">
    <p>Configuration is loading...</p>
  </div>
  
  <!-- rob end -->

  <div class="toggles" ng-click="showFlags=!showFlags"></div>
  <div class="main" ng-click="showFlags=false">
    <h1>Rob's App</h1>
    <div flag-a feature-flag="flagA"></div>
    <div messaging feature-flag="messages">messages</div>
    <div flag-b feature-flag="flagB"></div>
    <div settings feature-flag="settings">Settings</div>
    <!-- <div user-profile feature-flag="userProfile"></div>-->
  </div>

  <div>
    <h1>ngif Example</h1>
    <div ng-if="isOn('flagA')">flagA enabled</div>
    <div ng-if="!isOn('flagA')">flagA disabled</div>
    <div ng-if="isOn('flagB')">flagB enabled</div>
    <div ng-if="!isOn('flagB')">flagB disabled</div>
  </div>
  
  <div ng-cloak>
    <p>Hello {{name}}!</p>
  </div>
  <div class="flagContainer" feature-flag-overrides></div>

  <script>
    if (false) debugger;
    var app = angular.module("my-app", ["feature-flags"]); //["feature-flags"] heremade it work

    app.directive("flagA", function () {
    if (false) debugger;
    
    console.log("Flag A directive.");
    return {
      restrict: "A",
      scope: {},
      template:
        '<div class="panel" ng-class="{selected: selected}" ng-click="selected = !selected;">flagA</div>',
      replace: true,
    };
  })
  .directive("messaging", function () {
    if (false) debugger;
    console.log("messaging directive.");
    return {
      restrict: "A",
      scope: {},
      template:
        '<div class="panel" ng-class="{selected: selected}" ng-click="selected = !selected;">Messaging</div>',
      replace: true,
    };
  })
  .directive("flagB", function () {
    if (false) debugger;
    console.log("Flag b directive.");
    return {
      restrict: "A",
      scope: {},
      template:
        '<div class="panel" ng-class="{selected: selected}" ng-click="selected = !selected;">flagB</div>',
      replace: true,
    };
  })
  .directive("settings", function () {
    console.log("settings directive.");
    return {
      restrict: "A",
      scope: {},
      template:
        '<div class="panel" ng-class="{selected: selected}" ng-click="selected = !selected;">Settings</div>',
      replace: true,
    };
  });

    angular.element(document).ready(function () {
      //if (false) debugger;
      console.log("boot");
      var initInjector = angular.injector(["ng"]); //, "feature-flags todo correct name?
      var $http = initInjector.get("$http");
      //var ffInjector = angular.injector(["feature-flags"]); //, "feature-flags todo correct name?
      //var ff = ffInjector.get("feature-flags"); //todo: correct name?

      $http
        .get("https://localhost:5001/api/FeatureFlags/")
        .then(function (response) {
          if (false) debugger;
          app.constant("flagServerValues", response.data);
          console.log("boot then");
          console.log(response.data);
          angular.bootstrap(document, ["my-app"]); // ["feature-flags"] TODO correct name? was plunker

          if (false) debugger;
          //ff.setEnvironment("prod");
          //ff.set(response.data);
          //var flags = ff.get();
          //console.log("ff");
          //console.log(flags.featureFlags);
        });
    });
  </script>
</body>
</html>
